body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba($color: #000000, $alpha: 0.5);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    h1{
        font-size: 70px;
    }
    .timerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .times{
        display: flex;
        flex-direction: row;
        font-size: 200px;
    }
    .minuteContainer{
        button{
            font-size: 14px;
            font-weight: 700;
            border: none;
            padding: 10px;
            border-radius: 10px;
            background-color: orange;
            color: black;
                margin: 5px;
            &:hover{
                background-color: black;
                color: orange;
            }
        }

    }
    .btnContainer{
       button{
        border:none;
        padding: 20px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 700;
        margin: 10px;

        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: white;
        }

       }
    }
}
}